actionlib==1.11.12
angles==1.9.11
bhand-controller==0.1.2
bondpy==1.8.1
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.8
catkin-pkg==0.4.1
controller-manager==0.13.0
controller-manager-msgs==0.13.0
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.7
diagnostic-updater==1.9.2
docutils==0.14
dynamic-reconfigure==1.5.48
gazebo-plugins==2.5.15
gazebo-ros==2.5.15
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.9
gennodejs==2.0.1
genpy==0.6.7
image-geometry==1.12.7
imutils==0.4.6
interactive-markers==1.11.3
laser-geometry==1.6.4
message-filters==1.12.12
netifaces==0.10.6
numpy==1.14.2
pigpio==1.40.post1
pkg-resources==0.0.0
pluginlib==1.11.2
py-trees==0.5.10
pyparsing==2.2.0
python-dateutil==2.7.0
python-qt-binding==0.3.3
PyYAML==3.12
QDarkStyle==2.5.1
qt-dotgraph==0.3.8
qt-gui==0.3.8
qt-gui-cpp==0.3.8
qt-gui-py-common==0.3.8
resource-retriever==1.12.3
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosbag==1.12.12
rosclean==1.13.6
rosgraph==1.12.12
roslaunch==1.12.12
roslib==1.13.6
roslz4==1.12.12
rosmaster==1.12.12
rosmsg==1.12.12
rosnode==1.12.12
rosparam==1.12.12
rospkg==1.1.4
rospy==1.12.12
rosservice==1.12.12
rostest==1.12.12
rostopic==1.12.12
rosunit==1.13.6
roswtf==1.12.12
rqt-action==0.4.9
rqt-bag==0.4.11
rqt-bag-plugins==0.4.11
rqt-bhand==0.1.2
rqt-console==0.4.8
rqt-controller-manager==0.13.0
rqt-dep==0.4.8
rqt-ez-publisher==0.4.0
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-joint-trajectory-controller==0.13.2
rqt-launch==0.4.8
rqt-launchtree==0.2.0
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.7
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.8
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rqt-wrapper==0.1.4
rviz==1.12.15
sensor-msgs==1.12.5
six==1.11.0
smclib==1.8.1
sound-play==0.3.1
tf==1.11.9
tf2-kdl==0.5.17
tf2-py==0.5.17
tf2-ros==0.5.17
topic-tools==1.12.12
unique-id==1.0.5
wiimote==1.11.0
xacro==1.11.2
