<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="Camera" params="identifier parent xPos yPos zPos roll pitch yaw">
        
        <link name="${identifier}_vision_cam">
        
            <visual>
                <geometry>
                    <box size="0.030 0.029 0.029"/>
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </visual>
            
            <visual>
                <geometry>
                    <cylinder radius="0.0187" length="0.061"/>
                </geometry>
                <origin rpy="0 1.571 0" xyz="0.045 0 0"/>
            </visual>
        </link>
        
	    <sensor name="${identifier}_cam_sensor" update_rate="30">
		    <parent link="${identifier}_cam_sensor"/>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
		    <camera>
			    <image width="1288" height="964" hfov="1.571" near="0.01" far="50.0"/>
		    </camera>
	    </sensor>
	
        <joint name="${identifier}_cam_joint" type="fixed">
		    <parent link="${parent}"/>
		    <child link="${identifier}_vision_cam"/>
		    <origin xyz="${xPos} ${yPos} ${zPos}" rpy="${roll} ${pitch} ${yaw}"/>
	    </joint>
	
    </xacro:macro>
</robot>

