<launch>
    
    <!-- JTM - Hokuyo UTM-30lx LIDAR -->
    <node name="lidar" pkg="urg_node" type="urg_node" respawn="true" output="screen">
        <param name="calibrate_time" type="bool" value="true"/>
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="intensity" type="bool" value="false"/>
        <param name="min_ang" value="-2.2689"/>
        <param name="max_ang" value="+2.2689"/>
        <param name="cluster" value="1"/>    
        <param name="frame_id" value="base_link"/>
    </node>

	<!-- JTM - extended khalman filter -->
    <node name="ekf" pkg="robot_pose_ekf" type="robot_pose_ekf" />
    
	<node pkg="tf" type="tf_remap" name="remap_odomcombined" output="screen">
		<arg name="mapping" value="/odom_combined /odom" />
	</node>
	
	<node pkg="tf" type="tf_remap" name="remap_base_footprint" output="screen">
		<arg name="mapping" value="/base_footprint /base_link" />
	</node>

    <!-- JTM - transform -->
    <node name="tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /laser 10" />

  
</launch>


