<?xml version="1.0"?>
<robot name="SigSent_turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find sigsent)/urdf/turtlebot-structure.urdf.xacro"/>
    <xacro:include filename="$(find sigsent)/urdf/camera.urdf.xacro"/>
    <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro"/>
    
    <sub_body />
    
    <camera identifier="OV5647" parent="base_link" xPos="0" yPos="0" zPos="5.0" roll="0.0" pitch="0.0" yaw="0.0"/>

</robot>

